.Footer-footerInner-1 {
  background-color: #14213d;
}
.WaveBorder-parallax-10 {
  background-color: #14213d;
}
.WaveBorder-parallax-11 {
  background-color: #14213d;
}
.footer-position {
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-bottom: 0px;
  /* margin-top: 600px; */
}
